{%extends 'baseAluno.html'%}

{%block content%}

	<div class="container-contact100">

		<div class="wrap-contact100" >
			<form class="contact100-form validate-form" action="/pedido/{{dre}}" method="POST">
        <span class="contact100-form-title">
					{%print(t.titulo+" - código "+t.cod_sala+" - Professor(a) "+name)%}
				</span>


        <div class="wrap-input100">
        {{form.pedido(class="form-control", placeholder="pedido")}}
        </div>

				<button class="contact100-form-btn">
						<span>
							Pedir revisão
						</span>
				</button>
				<br>
				<br>
			</form>
		</div>
	</div>

	<div id="dropDownSelect1"></div>

{%endblock%}
