{%extends 'baseAluno.html'%}

{%block content%}

	<div class="container-contact100">

		<div class="wrap-contact100">
			<form action="/resultAluno" method="POST" class="contact100-form validate-form">
				{{form.csrf_token}}
				<span class="contact100-form-title">
				</span>

				<br>
				<br>
					<div class="col-12 col-md-3">
						<button type="submit" class="btn btn-block btn-lg btn-primary">{%print(s)%}</button>
					</div>
		</form>
		</div>
	</div>



	<div id="dropDownSelect1"></div>

{%endblock%}
