{%extends 'baseAluno.html'%}

{%block content%}

	<div class="container-contact100">

		<div class="wrap-contact100">
			<!--<form action="/upProva" method="POST" class="contact100-form validate-form"> -->
				{{form.csrf_token}}
				<span class="contact100-form-title">
					{%print(t.titulo+" - código "+t.cod_sala+" - Professor(a) "+name)%}
				</span>

				<br>
				<br>
				{%
				  for i in s: %}
				<form action="/aluno/{{i.dre}}" method="GET" class="contact100-form validate-form">
					<button type="submit" class="btn btn-block btn-lg btn-primary">{%print(i.dre)%}</button>
				 </form>
				 {%endfor%}
				 			<!-- </form> -->
		</div>
	</div>



	<div id="dropDownSelect1"></div>

{%endblock%}
