{%extends 'baseAluno.html'%}

{%block content%}

<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <form class="login100-form validate-form" action="/validSalaAluno" method="POST">
        {{form.csrf_token}}
        <span class="login100-form-title p-b-26">
          Senha da sala
        </span>
        <div class="wrap-input100">
          <span class="btn-show-pass">
            <i class="zmdi zmdi-eye"></i>
          </span>
          <!--<input class="input100" type="password" name="senha">-->
          {{form.senha(class="form-control", placeholder="Senha da sala")}}
          <!-- <span class="focus-input100" data-placeholder="Senha"></span> -->
        </div>

        <div class="container-login100-form-btn">
          <div class="wrap-login100-form-btn">
            <div class="login100-form-bgbtn"></div>
            <button class="login100-form-btn" type="submit">
              Confirmar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>


<div id="dropDownSelect1"></div>

{%endblock%}
